.button {
  width: 200px;
  height: 40px;
  font-size: 24px;
  color: white;
  background: orange;

  &:hover {
    background: #f7ca37;
  }

  &.dark {
    color: orange;
    background: black;
  }

  &:disabled {
    opacity: .5;
  }
}
