.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 40px;
  background: lightgray;
}

.title {
  margin-right: 20px;
  font-size: 24px;
}

.input {
  height: 40px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 4px;
}

.inputInner {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
