.container {
  display: flex;
  flex-flow: column nowrap;
}

.tabInner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.navLinkContainer {
  flex: 1 1 auto;
}
